body {
  background-color: rgb(39, 151, 216);
}

.hover img {
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: 0.75s ease-in-out;
  transition: 0.75s ease-in-out;
  display: inline-block;
}
.hover img:hover {
  -webkit-transform: scale(1.15);
  transform: scale(1.3);
}
.img {
  overflow: hidden;
}
h1 {
  color: rgb(8, 27, 51);
  text-shadow: 4px 4px 4px #222121;
  letter-spacing: 14px;
  font-size: 60px;
  font-family: cursive;
}
h5 {
  color: rgb(14, 69, 136);
  text-shadow: 2px 1px 1px #222121;
  font-family: cursive;
}
div .card {
  border: 2px solid gray;
}
